// 5 does not point to anyone but many point to 5 => 5 is a trusted page
// none of the page point to 7 => 7 is a spam page => 7 rank is zero
0	2
0	4
0	6
1	4
1	5
1	6
2	3
2	4
3	0
3	1
3	5
3	6
4	5
4	8
6	5
6	3
6	1
7	0
7	5
7	8
8	0
8	5
8	4
